venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
.DS_Store
node_modules/
labx-backend/AI_Analytics_Data.xlsx
labx-backend/Data_AI_Query.xlsx
labx-backend/dummy_data1.csv
labx-backend/dummy_data2.csv
labx-backend/Cumin-Whole-Data.xlsx
labx-backend/AI_Analytics_Data.xlsx
